<h1>On way data binding</h1>
<h2>String interpolation</h2>,

<!-- It always returns a string. -->
<!-- Display related tasks -->
<p>{{ demoData }}</p>
<p>{{ demoData.toUpperCase() }}</p> <!--Functions-->
<p>{{ 9 + 8 }}</p> <!--Can also be used for expression based operation-->

<h2>Property binding: []</h2>
<!-- converts anything as string -->
<p>
    <input type="text" value="{{ demoData }}" />
</p>
<!-- maintains/persists the data type : property binding-->
<p>
    <input type="text" [value]="demoData" />
</p>

<h1>Event binding: ()</h1>
<button (click)="showAlert()">Click me</button>

<h1>Two way data binding : ngModel</h1>

<p>
    <input type="text" [(ngModel)]="demoData" />
</p>

<!-- 
    <input type="text"
[value] = "demoData"
(change) = "updateValue()"
/>
 -->