<p>template-driven works!</p>
<button class="btn btn-secondary p-2" type="button" (click)="loadData(userForm)">Load Data</button>
<button class="btn btn-secondary" type="button" (click)="patchData(userForm)">Patch Data</button>

<form (submit)="saveData(userForm)" #userForm="ngForm">
    <div class="form-group">
        <label for="">Name</label>
        <input 
            type="text" 
            class="form-control" 
            name="name" 
            #uname="ngModel" 
            ngModel 
            required
            minlength="5"
        />
        <app-show-errors [control] = "uname"></app-show-errors> <!-- by reference pass control name for template driven -->
        <!-- <div *ngIf="uname.touched">
            <small class="text-danger" *ngIf="uname.hasError('required')">Name is required.</small>
            <small class="text-danger" *ngIf="uname.hasError('minlength')">Min 5 chars is required.</small>
        </div> -->

    </div>

    <div class="form-group">
        <label for="">Age</label>
        <input type="text" class="form-control" name="age" ngModel required/>
    </div>

    <div class="form-group">
        <label for="">Zipcode</label>
        <input type="text" class="form-control" name="zipcode" ngModel required appZipCode #zip="ngModel"/>
        <small class="text-danger" *ngIf="zip.hasError('zipcode')"> Invalid zipcode entered</small>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
</form>

<pre>
    {{ userForm.value | json}}
</pre>