<!-- <app-demo></app-demo> -->
<!-- <app-product></app-product> -->
<!-- <app-demo></app-demo>
<app-demo></app-demo> -->
<!-- <app-currency (selected)="setCurrency($event)"></app-currency>
<app-product-list [currentCurrency]="selectedCurrency"></app-product-list> -->
<!-- <app-employees-list></app-employees-list> -->
<!-- <app-template-driven></app-template-driven> 
<app-model-driven></app-model-driven> -->
<!-- <app-header></app-header>
<app-github-search></app-github-search>
<app-currency (selected)="setCurrency($event)"></app-currency>
<app-product-list [currentCurrency]="selectedCurrency"></app-product-list> -->

<!-- <app-linkedin-form></app-linkedin-form> -->

<app-header></app-header>
<app-login-buttons></app-login-buttons>
<app-currency></app-currency> <!--(selected)="setCurrency($event)"-->
<app-spinner></app-spinner>
<main class="container-fluid">
    <router-outlet></router-outlet>
</main>



